


    
   {% extends 'base.html' %}

   {% block content %}
   <style>

   @media (min-width: 1025px) {
    .h-custom {
    height: 120vh !important;
    }
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <title>Signature Verification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
 

    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                            alt="Sample photo"> -->
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" colspan="5" style="text-align: center; font-weight: bold; letter-spacing: 0cqmax; color:green;">Signature Verification System</h3>
                            <form class="px-md-2" id="signature-form" enctype="multipart/form-data" method="POST">
                                <div class="form-outline mb-6">
                                    <label for="signature">Upload Signature</label>
                                        <input type="file" class="form-control-file" id="signature" name="signature">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-lg mb-1">Verify</button>
                            </form>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
    $(document).ready(function() {
        $('#signature-form').submit(function(e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: '/predict',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    var resultMessage = response.result;
                    if (response.prediction == 0) {
                        resultMessage += ' (Genuine)';
                    } else if (response.prediction == 1) {
                        resultMessage += ' (Forged)';
                    }
                    Swal.fire('Prediction Result', resultMessage, 'info');
                }
            });
        });
    });
    </script>
</body>
</html>

{% endblock %}